/* components/Navbar.module.css */
.navbar_container {
  z-index: 999;
  position: absolute;
  top: 0; /* Ensure it's positioned at the top */
  left: 0;
  right: 0;
  padding: 5px 13px;
  width: 100%; /* Explicitly set the width to 100% */
  background: rgba(
    41,
    41,
    41,
    0.7
  ); /* Semi-transparent background for the blur effect */
  backdrop-filter: blur(10px); /* Apply the blur effect */
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s;
  color: rgb(231, 231, 231);
}
.navbar_container.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar_menu {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure it occupies the full width */
  margin: 0; /* Remove margins */

  position: relative;
  border-radius: 0; /* Remove border-radius for full-width effect */
}

@media screen and (max-width: 767px) {
  .navbar_container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%; /* Ensure it occupies the full width */
  }
  .navbar_menu {
    flex-direction: column;
    width: 100%; /* Ensure it occupies the full width */
  }
}

.navbar_container:not(.navbar_hidden) {
  transform: translateY(0);
}
.navbar_menuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
/* .navbar_menuHeader a {
  display: flex;
  align-items: center;
  margin: 1rem;
  font-weight: 600;
  font-family: var(--font-sans);
} */

.navbar_menu a {
  font-family: var(--font-accent);
  font-weight: 700;
}
.navbar_menu a:hover {
  color: #5d81ee;

}
.navbar_menu:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 50%;
  border-radius: 1rem;
}
.navbar_menuContent ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 4rem;
}
.navbar_menuBlackout {
  position: absolute;
  top: 0;
  /* left: 0; */
  padding: 0 2rem;
  right: 20px;
  height: 0;
  z-index: -1;
  margin-right: 20px;
}
.navbar_mobileToggle {
  z-index: 1;
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: rotateY(180deg);
}
.navbar_mobileToggle div {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 12px;
}
.navbar_mobileToggle span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.navbar_mobileToggle span:first-of-type {
  top: 0;
}
.navbar_mobileToggle span:last-of-type {
  bottom: 0;
}
.navbar_mobileToggle:hover span:first-of-type {
  width: 12px;
}
.navbar_mobileToggle:hover span:last-of-type {
  width: 26px;
}
.menuContainer {
  position: relative;
  display: none; /* Hide by default */
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .menuContainer {
    display: flex; /* Show on small screens */
  }
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 30px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open .line:nth-child(2) {
  opacity: 0;
}
.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media screen and (max-width: 767px) {
  .navbar_mobileToggle {
    display: block;
  }
  .navbar_menuHeader {
    width: 100%;
  }
  .navbar_menu {
    flex-direction: column;
  }
  .navbar_menuContent {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 0;
    overflow: hidden;
  }
  .navbar_menuContent ul {
    flex-direction: column;
    gap: 2rem;
    margin: 2rem;
  }
  .navbar_menuContent[data-open="true"] {
    min-height: 100vh;
  }
}
.theme_toggle {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  height: 3rem;
  width: auto;
  padding: 0;
  margin: 0 1rem 0 0;
}
.theme_toggle svg {
  display: block;
  position: relative;
  margin: auto;
}
